<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>i am learning node js <%= name %></h1>

    <ul>
        <li><%=fruits[0].name%></li>
        <li><%=fruits[0].price%></li>

        <li><%=fruits[1].name%></li>
        <li><%=fruits[1].price%></li>

        <li><%=fruits[2].name%></li>
        <li><%=fruits[2].price%></li>
    </ul>
</body>
</html>